header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}
.logo {
  background-color: green;
}
.man {
    background-color: blue;
}
.row {
    background-color: red;
}
