header {
  background-color:#03AED2;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
}
.logo {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 24px;
}
.man {
magin-right: 20px;
text-decoration: none;
color: black;
}
.row {

}
